<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">View contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi facere
        perspiciatis a inventore itaque ipsam et obcaecati rem placeat nam.
      </p>
    </div>
  </div>
</div>

<!-- contact details -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img
        alt=""
        src="https://media-exp1.licdn.com/dms/image/C4E03AQG1ogdvdMAXtg/profile-displayphoto-shrink_800_800/0/1645786841804?e=1652918400&v=beta&t=wz8NecdKek30a3lnivbuQx4dbkbJe_rBWUDrwNl6j7I"
        class="contact-img-big"
      />
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          Name: <span class="fw-bold">Name</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Email: <span class="fw-bold">Email</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Mobile: <span class="fw-bold">Mobile</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Company: <span class="fw-bold">Company</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Title: <span class="fw-bold">Email</span>
        </li>
        <li class="list-group-item list-group-item-danger">
          Group Name: <span class="fw-bold">Mobile</span>
        </li>
      </ul>
    </div>
  </div>
  <pre>{{ contact | json }}</pre>
  <div class="row mt-3">
    <div class="col">
      <a routerLink="/" class="btn btn-danger"
        ><i class="fa fa-arrow-alt-circle-left"></i>Back</a
      >
    </div>
  </div>
</div>
